name: Build and Test
permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    env:
      ENV: test

    steps:
    - uses: actions/checkout@v6

    - name: Set up Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '22.15.1'
        cache: 'npm'

    - name: Install dependencies
      run: ./bin/setup

    - name: Run tests with coverage
      run: ./bin/cibuild

    - name: Upload coverage reports
      uses: actions/upload-artifact@v6
      with:
        name: coverage-report
        path: coverage/
        retention-days: 14

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true

    - name: Upload test results to Codecov
      if: ${{ !cancelled() }}
      uses: codecov/test-results-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}